<div class="container-fluid">
  <div class="row" style="margin: auto auto">
    <h1 class="mt-4">{{ title }}</h1>
     <button type="button" class="btn btn-secondary" (click)="addQuestion()">
      Add Question
    </button>
    <div>
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
            
        <div formArrayName="questions" class="flex">
                
          <div *ngFor="let question of questions().controls; let i = index">
                    
            <div
              [formGroupName]="i"
              style="
                border: 2 solid black;
                padding: 6px;
                width: 350px;

                margin: 3px;
                border-radius: 10%;
                background-color: lightblue;
              "
            >
               
              <div style="display: flex">
                <input
                  class="form-control"
                  type="text"
                  formControlName="question"
                  placeholder="Enter the Question name..."
                />
                <br />
                <button
                  (click)="removeQuestion(i)"
                  type="button"
                  class="btn btn-danger"
                >
                  Remove
                </button>
              </div>
                      
              <div formArrayName="options">
                            
                <div
                  *ngFor="
                    let option of questionOptions(i).controls;
                    let idx = index
                  "
                >
                                    
                  <div [formGroupName]="idx">
                    <div style="display: flex">
                       <input
                        class="form-control"
                        type="text"
                        formControlName="option"
                        placeholder="Enter the option ..."
                      />

                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeQuestionOption(i, idx)"
                      >
                        Remove
                      </button>
                           
                    </div>
                             
                  </div>
                              
                </div>
                 <br />
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="addQuestionOption(i)"
                >
                  Add Option</button
                >        
              </div>
                        
            </div>
                  
          </div>
            
        </div>
            
        <button class="btn btn-info" type="submit">Submit</button>
         
      </form>
    </div>
  </div>
</div>

       
{{ this.quizForm.value | json }}
 
